/* church
	by john trinh
	style.css */

body {
	/* https://stackoverflow.com/questions/2284562/absolutely-positioned-div-on-right-causing-scrollbar-when-the-left-doesnt */
	/* for hiding congregation in the wings */
	/* overflow: hidden; */
}

button:hover {
	cursor: pointer;
}

#world {
	/* min-height: 100%; */
	/* width: 100%; */
}

#church {
	position: absolute;
	translate: -50% -50%;
	top: calc(50% - 30px);
	left: calc(50% - 30px);

	/* transition: scale 0.1s; */

	/* animation-name: church-waggle;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate; */

}

#church:hover {
	scale: 102%;
}

#congregation {
	position: absolute;
	translate: 0 -50%;
	top: 50%;
	left: 100%;

	animation-name: walk-bob;
	animation-duration: 0.1s;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.clicked {
	background-color: red;
}

@keyframes church-waggle {
	0% {
		transform: rotate(5deg);
	}


	100% {
		transform: rotate(-5deg);
	}

}

@keyframes walk-bob {
	0% {
		transform: translateY(0)
	}

	100% {
		transform: translateY(15px);
	}
}